<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hyl.zhanmaoj.mapper.TestMapper">

    <resultMap id="BaseResultMap" type="com.hyl.zhanmaoj.model.entity.Test">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="title" column="title" jdbcType="VARCHAR"/>
            <result property="status" column="status" jdbcType="TINYINT"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="questionNum" column="questionNum" jdbcType="INTEGER"/>
            <result property="beginTime" column="beginTime" jdbcType="TIMESTAMP"/>
            <result property="expiredTime" column="expiredTime" jdbcType="TIMESTAMP"/>
            <result property="examTime" column="examTime" jdbcType="BIGINT"/>
            <result property="totalScore" column="totalScore" jdbcType="INTEGER"/>
            <result property="userId" column="userId" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,title,status,
        password,content,questionNum,
        beginTime,expiredTime,examTime,
        totalScore,userId,
        createTime,updateTime,isDelete
    </sql>
</mapper>
